@charset "UTF-8";

@media screen and (max-width: 650px) {

    header {
        display: block;
    }

    header > h1 {
        text-align: center;
        padding: 0px 0px 10px 0px;
    }

    header > menu {
        display: block;
    }

    header > menu > ul {
        display: block;
    }

    header > menu > ul > li {
        text-align: center;
        margin: 3px;
    }
    
}